.main2 {
    height: 100%;
}

.cont2 {
    background-color: #6fdfdf;
    opacity: .92;
    position: fixed;
    width: 100%;
    z-index: 900;
}

.form-back {
    padding: 7rem 0 0 3rem;
    text-align: left;

}

.back-btn {
    color: azure;
    font-size: 24px;
    font-weight: 400;
}

.heading3 {
    color: white;
    text-shadow: 0 0 5px black;
}

.form-input {
    text-align: left;
    width: 35rem;
    margin: 0 0 0 32%;
    background-color: #4b7be5;
    opacity: 0.93;
    padding: 2rem 2rem 0 2rem;
    border-radius: 10px;
}

.i-head {
    font-size: 26px;
    color: aliceblue;
    width: 12rem;
    display: inline-block;
    line-height: 2.5rem;
}

.i-fill {
    font-size: 22px;
    border: 2px grey;
    background-color: white;
    border-radius: 5px;
    line-height: 2rem;
    padding: 0 0 0 4px;
    width: 22rem;
}

.sub-btn {
    width: 50%;
    height: 2.5em;
    margin: 4% 0 6% 0%;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(134, 241, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: sans-serif;
    font-size: 16px;
    padding: 0 0 0 0;
    opacity: 1;
    cursor: pointer;
}

.sub-btn:hover {
    background-color: rgb(114, 140, 255);
    color: rgb(0, 0, 0);
    transition: 300ms;
    font-weight: 400;
    cursor: pointer;
}

.item-image-form {
    height: auto;
    width: 30%;
    padding-top: 8px;
    border: 3px solid rgb(134, 241, 255);
    padding: 3px;
    /* display: inline; */
}

/* .itemLink {
    display: none;
} */

.item-details {
    display: inline;
    margin: -5% 0 0 0;
}

.item-detail1 {
    margin: -5% 0 0 0;
}


@media(max-width:900px) {

    .form-input {
        text-align: left;
        width: 35rem;
        margin: 0 0 0 16%;
    }

    .form-input {
        text-align: left;
        width: 35rem;
        margin: 0 0 0 16%;
    }

}

@media(max-width:600px) {
    .form-input {
        text-align: left;
        width: 23rem;
        margin: 0 0 0 10%;
    }

    .i-head {
        font-size: 21px;
        color: aliceblue;
        width: 7rem;
        display: inline-block;
        line-height: 2.5rem;
    }

    .i-fill {
        font-size: 18px;
        border: 2px grey;
        background-color: white;
        border-radius: 5px;
        line-height: 1.8rem;
        padding: 0 0 0 4px;
        width: 15rem;
    }


}

@media(max-width:464px) {
    .form-input {
        text-align: left;
        width: 18rem;
        margin: 0 0 0 5%;
    }

    .i-head {
        font-size: 20px;
        color: aliceblue;
        width: 8rem;
        display: inline-block;
        line-height: 2.5rem;
    }

    .i-fill {
        font-size: 18px;
        border: 2px grey;
        background-color: white;
        border-radius: 5px;
        line-height: 1.8rem;
        padding: 0 0 0 4px;
        width: 17rem;
    }

    .item-image-form {
        width: 45%;
    }

    .form-back {
        padding: 4rem 0 0 1rem;
        text-align: left;
    }

    .back-btn {
        font-size: 20px;
    }


}

@media(max-width:365px) {
    .form-input {
        text-align: left;
        width: 15rem;
        margin: 0 0 0 5%;
    }

    .i-fill {
        font-size: 18px;
        border: 2px grey;
        background-color: white;
        border-radius: 5px;
        line-height: 1.8rem;
        padding: 0 0 0 4px;
        width: 15rem;
    }
}